DJANGO_SECRET='django-insecure-_)5d!j2(fl@l05ofqb+ji@b%#snbj^w8k#h_deuo38bd8@7r&0'
DATABASE_URL='postgresql://neondb_owner:npg_SchxPrOF7tI6@ep-tiny-pond-anji6gzy.c-6.us-east-1.aws.neon.tech/neondb?sslmode=require'